export http_proxy='http://{{ common_proxy_server }}:{{ common_proxy_port }}'
export https_proxy='http://{{ common_proxy_server }}:{{ common_proxy_port }}'
export no_proxy='localhost{% for proxy_exception in common_proxy_exceptions %}, {{ proxy_exception }}{% endfor %}'
export HTTP_PROXY='http://{{ common_proxy_server }}:{{ common_proxy_port }}'
export HTTPS_PROXY='http://{{ common_proxy_server }}:{{ common_proxy_port }}'
export NO_PROXY='localhost{% for proxy_exception in common_proxy_exceptions %}, {{ proxy_exception }}{% endfor %}'
