# Ansible Managed

[Manager]
DefaultEnvironment="http_proxy=http://{{ common_proxy_server }}:{{ common_proxy_port }}" \
"HTTP_PROXY=http://{{ common_proxy_server }}:{{ common_proxy_port }}" \
"https_proxy=http://{{ common_proxy_server }}:{{ common_proxy_port }}" \
"HTTPS_PROXY=http://{{ common_proxy_server }}:{{ common_proxy_port }}" \
"no_proxy=localhost{% for proxy_exception in common_proxy_exceptions %}, {{ proxy_exception }}{% endfor %}" \
"NO_PROXY=localhost{% for proxy_exception in common_proxy_exceptions %}, {{ proxy_exception }}{% endfor %}"